
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
*.xmi
/.metadata/
.metadata/.plugins/org.eclipse.core.resources/.history/0/30bd138faac1001d119fd43e5453212e
.metadata/.plugins/org.eclipse.core.resources/.history/10/a0cb0367a5c1001d119fd43e5453212e
.metadata/.plugins/org.eclipse.core.resources/.history/2/2057ddd27cc1001d1085ae72eaf2a48e
.metadata/.plugins/org.eclipse.core.resources/.history/0/30bd138faac1001d119fd43e5453212e
